.header-container {
  height: 750px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 150px;
  color: (#151414);
  padding-bottom:150 px;
}

* {
  margin: 0;
  padding: 0;
}

.header-section {
  background-image: url("./images/banner/banner1.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  
}

.header-title {
  font-size: 40px;
  flex-shrink: 0;
}
.header-p{
  font-size:20px;
  padding: 10px;
  
}
.button-primary{
height: 44px;
width: 160px;
border-radius: 5px;
background-color:#F15B22;
margin-top: 10px;
color: white;
border: 0;
}
.failure-img{
  border-radius: 227.429px;
  background: rgba(229, 71, 8, 0.2);
  width: 400px;
  clip-path: circle(60%);
  
}
.failure-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 700px;
  padding: 50px;
  background-color: #FFF;
  
}
.failur-title{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  padding:10px;
  font-weight: 700;
}
.plane-title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.plan-container{
  display: flex;
  align-items: center;
  justify-content:space-evenly ;
  padding: 50px;

}
.plane-icon{
  width: 70px;
}
.call-me-container{
  width: 80%;
  height:300px ;
  background-image: url("./images/watch.png"),linear-gradient(to left, rgba(255,0,0,0), rgba(243, 87, 9, 0.887));
  border: 0;
  background-blend-mode: lighten;
  border-radius: 5px;
  height: 150px;
  margin: auto;
  padding: 30px;

}
.call-me{
  padding-left: 64px;
  padding-top:40px;
  color:rgb(49, 56, 64);
  font-size: 20px;
  font-weight: 500;
  
}
.call-me-button{
  padding: 10px;
  border-radius: 7px;
  border:0;
}
.footer-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  height: 50vh;
  background-color: black;
  color: white;
  margin-top: 100px;
}
.future-title{
  margin-left: 10px;
}
